@font-face {
    font-family: Palatinolinotype Roman;
    src: url(../fonts/palatinolinotype_roman.ttf);
}
@font-face {
    font-family: Helvetica Cy;
    src: url(../fonts/helveticacy.ttf);
}
@font-face {
    font-family: Georgia;
    src: url(../fonts/georgia.ttf);
}

body{
    font-size: 16px;
    margin: 0;
    padding: 0;
}

div, p, input, button, form, span, a, ul, li{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: Palatinolinotype Roman;
    margin: 0;
}

a{
    font-family: Helvetica Cy;
    text-decoration: none;
}

p{
    font-family: Georgia; 
}

ul{
    list-style: none;
}

.container{
    margin: 0 auto;
    width: 980px;
}

header{
    background: rgb(250, 250, 250);
    padding: 20px 0 20px;
}
.name-site{
    font-size: 29px;
    font-weight: normal;
}
.name-site span{
    font-weight: bold;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
}
.menu li a{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    padding: 0 10px;
    transition: all 0.4s ease;
}
.menu li a span{
    color: rgb(252,211,7);
}
.menu li a:hover{
    color: rgb(252,211,7);
}
.mb-menu{
    display: none;
}
#checkMbMenu{
    display: none;
}

.sec1{
    background: url(../img/sec1/bg-section.webp) no-repeat;
    padding: 100px 0 100px;
}
.name-sec1{
    color: #fff;
    font-size: 60px;
    font-weight: normal;
    line-height: 1em;
    width: 541px;
}
.name-sec1 span{
    color: #fcd307;
    font-weight: bold;
}
.text-sec1{
    color: #fff;
    font-size: 29px;
}
.links-sec1 a{
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    margin: 0 18px;
    padding: 10px 15px;
    transition: all 0.4s ease;
}
.links-sec1 a:hover{
    background: #000;
    border: 2px solid rgb(252,211,7);
    color: rgb(252,211,7);
}

.sec2{
    background: rgb(252, 211, 7);
    padding: 100px 0 0;
}
.blocks-sec2{
    display: flex;
    justify-content: space-between;
}
.blocks-sec2 h2{
    font-size: 16px;
    margin: 0 auto;
    width: 200px;
    text-align: center;
}
.block1-sec2{
    background: url(../img/sec2/icon1.webp) no-repeat top;
}
.block2-sec2{
    background: url(../img/sec2/icon2.webp) no-repeat top;
}
.block3-sec2{
    background: url(../img/sec2/icon3.webp) no-repeat top;
}
.block4-sec2{
    background: url(../img/sec2/icon4.webp) no-repeat top;
}
.block1-sec2, .block2-sec2, .block3-sec2, .block4-sec2{
    padding: 90px 0;
}

.sec3{
    background: rgb(250, 250, 250);
    padding: 50px 0 50px;
}
.sec3 h2{
    font-size: 55px;
}
.text-sec3{
    font-size: 20px;
    padding: 0 42px;
}
.cards-employees{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.card1-employee, .card2-employee, .card3-employee, .card4-employee{
    margin: 10px auto;
}
.cards-employees img{
    height: 201px;
    width: 215px;
}
.name, .job{
    font-style: italic;
    text-align: center;
}
.job{
    line-height: 0;
    opacity: 0.5;
}
.text1-sec3{
    column-count: 2;
    column-gap: 50px;
}

.sec4{
    background: #000;
    color: #fff;
    padding: 50px 0 50px;
}
.sec4 h2{
    font-size: 55px;
    font-weight: normal;
}
.sec4 p{
    font-size: 20px;
    padding: 0 42px;
}
.contacts-blocks{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.contacts{
    display: flex;
    flex-direction: column;
}
.contacts img{
    height: 29px;
    float: left;
    margin-right: 10px;
    width: 29px;
}
.contact-email, .contact-tel{
    line-height: 30px;
}
.address{
    margin-top: 60px;
}
.address span{
    font-weight: bold;
}
.text-sec4{
    font-size: 18px;
}
.fill-fields{
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 10px;
}
.fill-fields input{
    border: none;
    margin-top: 10px;
    outline: none;
    padding: 7px 20px;
}
.fill-fields input::placeholder{
    color: #000;
    font-size: 18px;
}
.fill-fields input:focus{
    outline: 2px solid #fff;
}
.message-form{
    margin-top: 10px;
    outline: none;
}
.message-form::placeholder{
    color: #000;
    font-size: 18px;
    text-align: center;
}
.message-form:focus{
    outline: 1px solid #fff;
}
.btn-form{
    background: rgb(252,211,7);
    border: none;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    float: right;
    padding: 8px 20px;
    transition: all 0.4s ease;
}
.btn-form:hover{
    background: #fff;
}
.column2-sec4 hr{
    background: #fff;
    color: #fff;
    margin-top: 60px;
}

footer{
    font-size: 12px;
    padding: 20px 0 20px;
}
.foot-wrapper{
    display: flex;
    justify-content: space-between;
}
.foot-contacts{
    display: flex;
}
.foot-contacts div{
    padding: 0 20px;
}
.social-media img{
    height: 18px;
    padding: 0 10px;
    width: 18px;
}

@media screen and (max-width: 1200px){
    .container{
        width: 960px;
    }
}
@media screen and (max-width: 992px){
    .container{
        width: 720px;
    }
    .blocks-sec2{
        flex-direction: column;
    }
    .cards-employees{
        flex-direction: column;
    }
}
@media screen and (max-width: 768px){
    .container{
        width: 540px;
    }
    .menu{
        display: none;
    }
    .mb-menu{
        display: block;
    }
    .btn-mb-menu{
        border: 1px solid #000;
        border-radius: 10px;
        padding: 15px 15px;
        position: absolute;
        right: 30px;
    }
    .btn-mb-menu div{
        background: #000;
        height: 3px;
        margin-top: 5px;
        width: 25px;
    }
    .mb-menu2{
        display: none;
        position: absolute;
        right: 30px;
        top: 60px;
        z-index: 1;
    }
    .mb-menu2 li{
        background: #fff;
        border: 1px solid #000;
        padding: 10px 50px;
    }
    .mb-menu2 li a{
        color: #000;
    }
    #checkMbMenu:checked ~ .btn-mb-menu{
        background: rgb(252,211,7);
    }
    #checkMbMenu:checked ~ .mb-menu2{
        display: block;
    }
    .sec4 h2{
        font-size: 46px;
    }
    .btn-form{
        width: 100%;
    }
    .contacts-blocks{
        flex-direction: column;
    }
    .foot-contacts{
        flex-direction: column;
    }
    .foot-contacts div{
        padding: 0 0;
    }
    .social-media img{
        height: 25px;
        width: 25px;
    }
}
@media screen and (max-width: 576px){
    .container{
        width: 90%;
    }
    .btn-mb-menu{
        right: 10px;
    }
    .mb-menu2{
        right: 10px;
    }
    .name-sec1{
        font-size: 25px;
        width: 100%;
    }
    .links-sec1{
        display: flex;
        flex-direction: column;
    }
    .links-sec1 a{
        background: #000;
    }
    .text1-sec3{
        column-count: 1;
    }
    .sec4 h2{
        font-size: 35px;
    }
    .text-sec4{
        text-align: center;
        width: 100%;
    }
    .message-form{
        width: 100%;
    }
    .foot-wrapper{
        flex-direction: column;
    }
    .foot-contacts div{
        margin: 5px auto;
    }
    .social-media{
        margin: 10px auto;
    }
}