@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

ul{
    list-style: none;
}

.container{
    margin: 0 auto;
    width: 1110px;
}
.flex-wrapper{
    display: flex;
    justify-content: center;
}

header{
    background: linear-gradient(89.96deg, #FFFFFF 49.87%, #000000 49.87%);
    padding: 46px 0 100px 0;
}
.header-top{
    align-items: center;
    background: linear-gradient(90deg, #000000 49.82%, #FFFFFF 49.91%);
    display: flex;
    justify-content: space-evenly;
    padding: 6px 0 7px 0;
}
.header-top h1{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 24px;
}
.header-top h1 span{
    color: #000;
}
.links-top{
    display: flex;
    justify-content: space-evenly;
}
.links-top a{
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 18px;
    margin-right: 48px;
    text-decoration: none;
}
.links-top a:hover::after{
    width: 100%;
}
.links-top a.active{
    font-weight: 700;
}
.links-top-white{
    margin-left: 60px;
}
.links-top-white a{
    color: #fff;
}
.links-top-white a::after{
    background: #fff;
    content: "";
    display: block;
    height: 1px;
    transition: all 0.4s ease;
    width: 0;
}
.links-top-black a{
    color: #000;
}
.links-top-black a::after{
    background: #000;
    content: "";
    display: block;
    height: 1px;
    transition: all 0.4s ease;
    width: 0;
}
.header-main{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.office h1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 49px;
}
.office p{
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 18px;
    margin: 30px 0px;
    width: 350px;
}
.btn-office{
    background: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 18px;
    outline: none;
    padding: 7px 36.5px;
    transition: all 0.4s ease;
}
.btn-office:hover{
    background: rgb(51, 51, 51);
}
.image-header-main{
    max-height: 418px;
    max-width: 635px;
}
.image-header-main img{
    height: 100%;
    width: 100%;
}

.sec1{
    background: #f4f4f4;
    padding: 100px 0 100px 0;
}
.main-sec1{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.image-sec1{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0 100px 0;
    max-height: 200px;
    max-width: 527px;
    padding: 0;
}
.image-sec1 img{
    height: 100%;
    width: 100%;
}
.info-about-us h2{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 43px;
}
.info-about-us p{
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 18px;
    margin-top: 49px;
    width: 497px;
}

.sec2{
    background: #000;
    color: #fff;
    padding: 90px 0 141px 0;
}
.sec2 h2{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 43px;
    text-align: center;
}
.grid-table-image{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 445px 255px 160px 160px;
    margin-top: 70px;
}
.images-sec2 img{
    height: 100%;
    margin: 15px 0 15px 0;
    width: 100%;
}
.image1{
    max-height: 246px;
    max-width: 445px;
}
.image2{
    max-height: 184px;
    max-width: 445px;
}
.image3{
    max-height: 460px;
    max-width: 255px;
}
.image4{
    max-height: 130px;
    max-width: 160px;

}
.image5{
    max-height: 140px;
    max-width: 160px;
}
.image6{
    max-height: 130px;
    max-width: 160px;
}
.image7{
    max-height: 244px;
    max-width: 160px;
}
.image8{
    max-height: 186px;
    max-width: 160px;
}

.sec3{
    padding: 90px 0 100px 0;
}
.sec3 h2{
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 43px;
}
.blocks{
    display: flex;
    justify-content: space-around;
    margin-top: 27px;
}
.block{
    width: 220px;
}
.block h3, .block p{
    text-align: center;
}
.block h3{
    margin-top: 20px;
}
.block p{
    margin: 20px auto;
    width: 152px;
}
.image-block{
    max-height: 212px;
    max-width: 221px;
}
.image-block img{
    height: 100%;
    width: 100%;
}

.sec4{
    background: #000;
    padding: 90px 0 100px 0;
}
.sec4 h2, .sec4 p{
    color: #fff;
}
.sec4 h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0.05em;
    text-align: center;
}
.wrapper-sec4{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.map-sec4 img{
    height: 287px;
    width: 460px;
}
.contacts p{
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 18px;
    text-align: center;
}

footer{
    background: #bababa;
    padding: 80px 0 80px 0;
}
.wrapper-footer{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.wrapper-footer h1{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 24px;
}
.wrapper-footer h1 span{
    color: #fff;
}
.wrapper-footer p{
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 18px;
}