.card-product{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	height: 370px;
	width: 270px;
}
@media(max-width: 400px){
	.card-product{
		height: 330px;
		margin-top: 0;
		width: 200px;
	}
}
.card-product img{
	height: 240px;
	width: 269px;
}
@media(max-width: 400px){
	.card-product img{
		height: 195px;
		width: 199px;
	}
}
.card-product p{
	font-size: 14px;
	font-weight: normal;
	padding-left: 5px;
}
.product-availability{
	padding-top: 7px;
}
.no{
	color: rgb(232, 0, 0);
}
.yes{
	color: rgb(0, 116, 0);
}
.price{
	margin-left: 10px;
	margin-top: 10px;
}
.price p{
	font-size: 25px;
	font-style: italic;
}
.card-product button{
	background: rgb(255, 14, 65);
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #f5f6f8;
	cursor: pointer;
	font-weight: bold;
	margin-top: 24px;
	padding: 3px;
	transition: 0.4s all;
	width: 100%;
}
@media(max-width: 400px){
	.card-product button{
		margin-top: 13px;
	}
}
.card-product button:hover{
	background: rgb(255, 188, 63);
}