*{
	box-sizing: border-box;
	font-family: Open Sans;
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: Open Sans;
	src: ulr(../fonts/open-sans.ttf);
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.colum{
	display: flex;
	flex-direction: column;
}

body{
	background: url(../img/bg-website.jpg) no-repeat;
	background-attachment: fixed;
}
@media(max-width: 400px){
	body{
		background: url(../img/bg-website-mob.jpg) no-repeat;
		background-attachment: fixed;
	}
}

header{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.header-1{
	border-bottom: 3px solid rgba(255, 36, 12, 1);
	width: 100%;
}

.header-1 a{
	color: rgb(255, 36, 12);
	font-weight: bold;
	padding-left: 400px;
	padding-right: 400px;
	transition: 1.5s all;
}
@media(max-width: 400px){
	.header-1 a{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-left: 0px;
		padding-right: 0px;
	}
}
.header-1 a:hover{
	text-decoration: none;
}

.header-2{
	background: url(../img/bg-logo-name.jpg);
	display: flex;
	height: 500px;
	justify-content: center;
	width: 100%;
}
.header-2 img{
	margin-top: 400px;
}
@media(max-width: 400px){
	.header-2{
		background: url(../img/bg-logo-name-mob.jpg);
		height: 266px;
	}

	.header-2 img{
		height: 30px;
		margin-top: 120px;
		width: 175px;
	}
}

.navigation-menu-site ul{
	background: rgb(255, 36, 12);
	list-style: none;
}
.navigation-menu-site ul li a{
	color: #f5f6f8;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
}

.pc-version-navmenu{
	display: inline-flex;
	width: 100%;
}

.pc-version-navmenu li{
	padding-left: 120px;
	padding-right: 120px;
}
.pc-version-navmenu li a{
	font-size: 20px;
	padding: 0 20px;
	transition: 1s all;
}
.pc-version-navmenu li a:hover{
	background: rgba(255, 255, 255, 0.5);
}
.pc-version-navmenu li:hover .pc-version-submenu{
	display: block;
} 
@media(max-width: 400px){
	.pc-version-navmenu{
		display: none;
	}
}

.pc-version-submenu{
	display: none;
	left: 3px;
	position: absolute;
	width: 500px;
}
.pc-version-submenu li{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pc-version-submenu li a{
	font-size: 16px;
}
.pc-version-submenu li a::after{
	color: #f5f6f8;
	content: '»';
	float: right;
}


@media(min-width: 401px){
	.mob-version-navmenu{
		display: none;
	}
}

.mob-version-navmenu li{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0 139px;
}
.mob-version-navmenu li a::after{
	color: #f5f6f8;
	content: '»';
	float: right;
}

footer{
	background: rgb(255, 36, 12);
	display: flex;
	justify-content: center;
	margin-top: 30px;
	width: 100%;
}
@media(max-width: 400px){
	footer{
		padding: 0 7px;
	}
}

footer h3{
	color: #f5f6f8;
	margin-top: 10px;
}

footer ul{
	list-style: none;
}
footer a{
	color: #f5f6f8;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
	transition: 1s all;
}
footer a:hover{
	opacity: 0.5;
}

.footer-container{
	display: flex;
	justify-content: space-evenly;
	margin-top: 15px;
	width: 1000px;
}
@media(max-width: 400px){
	.footer-container{
		flex-direction: column;
		margin-left: 5px;
		width: 100%;
	}
}

@media(max-width: 400px){
	.footer-container ul, div{
		margin-top: 20px;
	}
}

.social-media-menu img{
	height: 30px;
	float: left;
	margin-right: 5px;
	width: 30px;
}
.social-media-menu li a{
	line-height: 32px;
}

.location-position-and-contact img{
	height: 30px;
	float: left;
	margin-right: 5px;
	width: 30px;
}
.location-position-and-contact p{
	color:  #f5f6f8;
	font-weight: bold;
	line-height: 32px;
}
.location-position-and-contact a{
	line-height: 32px;
}

#btnScrollUp{
	background: rgb(181, 216, 255);
	bottom: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	color: #f5f6f8;
	cursor: pointer;
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 5px;
	position: fixed;
	right: 10px;
	text-align: center;
	transition: 0.5s all;
	width: 40px;
}
#btnScrollUp:hover{
	background: rgb(102, 206, 255);
}
@media(max-width: 400px){
	#btnScrollUp{
		height: 30px;
		font-size: 18px;
		padding: 2px 5px;
		width: 30px;
	}
}