*{
	box-sizing: border-box;
	font-family: Open Sans;
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: Open Sans;
	src: ulr(../fonts/open-sans.ttf);
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

body{
	background: url(../img/bg-website.jpg) no-repeat;
	background-attachment: fixed;
}
@media(max-width: 400px){
	body{
		background: url(../img/bg-website-mob.jpg) no-repeat;
		background-attachment: fixed;
	}
}

header{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.header-1{
	border-bottom: 3px solid rgba(255, 36, 12, 1);
	width: 100%;
}

.header-1 a{
	color: rgb(255, 36, 12);
	font-weight: bold;
	padding-left: 400px;
	padding-right: 400px;
	transition: 1.5s all;
}
@media(max-width: 400px){
	.header-1 a{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-left: 0px;
		padding-right: 0px;
	}
}
.header-1 a:hover{
	text-decoration: none;
}

.header-2{
	background: url(../img/bg-logo-name.jpg);
	display: flex;
	height: 500px;
	justify-content: center;
	width: 100%;
}
.header-2 img{
	margin-top: 400px;
}
@media(max-width: 400px){
	.header-2{
		background: url(../img/bg-logo-name-mob.jpg);
		height: 266px;
	}

	.header-2 img{
		height: 30px;
		margin-top: 120px;
		width: 175px;
	}
}

.navigation-menu-site ul{
	background: rgb(255, 36, 12);
	list-style: none;
}
.navigation-menu-site ul li a{
	color: #f5f6f8;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
}

.pc-version-navmenu{
	display: inline-flex;
	width: 100%;
}

.pc-version-navmenu li{
	padding-left: 120px;
	padding-right: 120px;
}
.pc-version-navmenu li a{
	font-size: 20px;
	padding: 0 20px;
	transition: 1s all;
}
.pc-version-navmenu li a:hover{
	background: rgba(255, 255, 255, 0.5);
}
.pc-version-navmenu li:hover .pc-version-submenu{
	display: block;
} 
@media(max-width: 400px){
	.pc-version-navmenu{
		display: none;
	}
}

.pc-version-submenu{
	display: none;
	left: 3px;
	position: absolute;
	width: 500px;
}
.pc-version-submenu li{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pc-version-submenu li a{
	font-size: 16px;
}
.pc-version-submenu li a::after{
	color: #f5f6f8;
	content: '»';
	float: right;
}


@media(min-width: 401px){
	.mob-version-navmenu{
		display: none;
	}
}

.mob-version-navmenu li{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0 139px;
}
.mob-version-navmenu li a::after{
	color: #f5f6f8;
	content: '»';
	float: right;
}