.page-links{
	margin-left: 10px;
}
@media(max-width: 400px){
	.page-links{
		display: none;
	}
}
.page-links a{
	color: #000000;
	font-size: 15px;
	text-decoration: none;
	transition: 0.4s all;
}
.page-links a:hover{
	color: #aaa;
	letter-spacing: 1px;
	text-decoration: underline;
}
@media(max-width: 400px){
	.page-links a:hover{
		letter-spacing: 0;
	}
}

.page-links span{
	font-size: 12px;
	margin-left: 5px;
	margin-right: 5px;
}

.name-product{
	margin-left: 20px;
	margin-top: 30px;
}
@media(max-width: 400px){
	.name-product{
		margin-left: 5px;
	}
}
.name-product h2{
	font-weight: normal;
}
@media(max-width: 400px){
	.name-product h2{
		font-size: 18px;
	}
}

.image-price-product{
	margin-top: 30px;
	left: 400px;
	position: relative;
	width: 1000px;
}
@media(max-width: 400px){
	.image-price-product{
		display: flex;
		flex-wrap: wrap;
		left: 0;
		width: 0;
	}
}

.image-product{
	height: 500px;
	float: left;
	width: 400px;
}
.image-product img{
	height: 490px;
	width: 390px;
}

.price-product{
	left: 300px;
	position: relative;
}
@media(max-width: 400px){
	.price-product{
		left: 0;
	}
}
.price-product p{
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
}
@media(max-width: 400px){
	.price-product p{
		font-size: 25px;
		left: 170px;
		position: relative;
	}
}
.price-product button{
	border: none;
	color: #f5f6f8;
	cursor: pointer;
	font-size: 18px;
	margin-top: 5px;
	outline: none;
	padding: 5px;
	transition: 0.4s all;
	width: 400px;
}
@media(max-width: 400px){
	.price-product button{
		position: relative;
		left: 25px;
		width: 330px;
	}
}
#btnBuy{
	background: rgb(0, 163, 0);
}
#btnBuy:hover{
	background: rgba(0, 163, 0, 0.85);
}
#btnAddToCard{
	background: rgb(56, 122, 160);
}
#btnAddToCard:hover{
	background: rgba(56, 122, 160, 0.85);
}

.product-description{
	display: flex;
	flex-wrap: nowrap;
	margin-left: 30px;
	margin-top: 50px;
}
@media(max-width: 400px){
	.product-description{
		margin-left: 10px;
	}
}
@media(max-width: 400px){
	.product-description p{
		width: 350px;
	}
}