section{
    padding: 100px 0 100px;
}
.text-sec{
    color: #000;
}

.project-link{
    color: rgb(92, 37, 37);
    font-weight: bold;
}
.project-link:hover{
    text-decoration: none;
}
.projects-img{
    height: 600px;
    width: 100%;
}

@media screen and (max-width: 1200px){
    .projects-img{
        height: 550px;
    }
}
@media screen and (max-width: 992px){
    .projects-img{
        height: 420px;
    }
}
@media screen and (max-width: 768px){
    .projects-img{
        height: 340px;
    }
}
@media screen and (max-width: 576px){
    .projects-img{
        height: 180px;
        width: 290px;
    }
}