@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto.ttf);
}

body{
    font-family: Roboto;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

div, p, input, button, form, span, a, ul, li{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

ul{
    list-style: none;
}

.container{
    margin: 0 auto;
    width: 1170px;
}

header{
    background: radial-gradient(31.45% 50% at 51.56% 50%, rgba(236, 63, 63, 0.85) 0%, rgba(192, 22, 22, 0.9) 100%);
    padding: 43px 0 34px;
}
.cap{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
}
.menu li{
    padding: 0 69px;
}
.menu li a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.4s ease;
}
.menu li a:hover{
    color: rgb(219, 219, 219);
}
.contact-btn button{
    background: #fff;
    border: none;
    border-radius: 26px;
    box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.66);
    color: #be2c2c;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    padding: 8px 24px;
    transition: all 0.4s ease;
}
.contact-btn button:hover{
    background: rgb(230, 230, 230);
}
.burger-menu-btn{
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 7px 12px;
    transition: all 0.4s ease;
}
.burger-menu-btn:hover{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    
}
.burger-menu-btn div{
    background: #fff;
    height: 2px;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 26px;
}
.frame-social-wrapper{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.image-frame{
    background: url(../img/header/image.png) no-repeat center, url(../img/header/image-nike.png) no-repeat center;
    background-position: center, 90px -55px;
    background-size: contain, 750px;
    height: 500px;
    margin: 42px auto;
    width: 850px;
}
.image-frame h1{
    color: #fff;
    font-size: 68px;
    font-style: italic;
    font-weight: bold;
    left: 200px;
    line-height: 40px;
    position: relative;
    top: 180px;
}
.image-frame h1 span{
    font-weight: normal;
    font-size: 37px;
    font-style: normal;
}
.image-frame-shadow{
    left: 230px;
    position: relative;
    top: 325px;
}
.image-frame-shadow svg{
    width: 530px;
}
.bg-office-social-media{
    align-items: center;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 26px;
    justify-content: center;
    margin: 10px 0 10px;
    transition: all 0.4s ease;
    width: 26px;
}
.bg-office-social-media:hover{
    opacity: 0.5;
}
.dots{
    display: flex;
}
.dot{
    background: #fff;
    border-radius: 50%;
    height: 10px;
    margin-left: 4px;
    margin-right: 4px;
    width: 10px;
}
.dot.active{
    background: rgba(196, 196, 196, 0.56);
}
.slides-product{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 87px;
}
.btn-prev{
    float: left;
}
.btn-next{
    float: right;
}
.mb-scroll-y{
    display: flex;
}
.card-product-mini{
    align-items: center;
    background: rgba(213, 50, 89, 0.92);
    border-radius: 19px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.19);
    display: flex;
    height: 86px;
    margin: 10px 10px 10px;
    padding: 3px 8px;
    width: 427px;
}
.card-product-mini img{
    border-right: 1px solid #fff;
    height: 66px;
    padding-right: 15px;
    width: 98px;
}
.shadow-product{
    position: relative;
    right: 110px;
    top: 24px;
}
.shadow-product.product2{
    position: relative;
    right: 80px;
    top: 14px;
}
.shadow-product.product2 svg{
    width: 60px;
}
.name-price-product{
    color: #fff;
    position: relative;
    right: 80px;
}
.name-price-product.name2{
    position: relative;
    right: 50px;
}
.name-price-product p{
    font-size: 18px;
}
.name-price-product p span{
    font-weight: bold;
}

.sec1{
    padding: 100px 0 100px;
}
.sec1 h2{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.02em;
}
.position-center{
    display: flex;
    justify-content: center;
}
.grid-table{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 269px 269px 269px 269px;
    margin: 71px auto;
}
.card-product{
    background: linear-gradient(323.42deg, #C6C6C6 1.5%, rgba(250, 250, 250, 0.36) 119.74%);
    border-radius: 20px;
    box-shadow: -2px 2px 6px rgba(255, 255, 255, 0.33), 1px 2px 5px rgba(0, 0, 0, 0.42);
    height: 280px;
    width: 269px;
}
.new{
    color: #dd3232;
    font-weight: bold;
    left: 21px;
    position: relative;
    top: 15px;
}
.card-product img{
    height: 150px;
    margin: 0 40px;
    width: 173px;
}
.shadow-card-product{
    bottom: 43px;
    left: 55px;
    position: relative;
}
.shadow-card-product svg{
    opacity: 0.45;
}
.name-product{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.card-description{
    color: rgba(137, 137, 137, 0.76);
    font-size: 13px;
    margin: 13px 29px;
    line-height: 15px;
}
.price{
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    margin: 0 29px;
}
.scrolling{
    align-items: center;
    background: rgba(154, 154, 154, 0.41);
    border-radius: 15px;
    display: flex;
    height: 10px;
    justify-content: center;
    margin: 0 auto;
    width: 237px;
}
.scrolling div{
    background: #4a4040;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    height: 20px;
    width: 20px;
}

.sec2{
    background: #0f0f0f;
    color: #fff;
    padding: 74px 0 74px;
}
.wrapper-sec2{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.frame1 h2{
    font-size: 37px;
    font-weight: bold;
    letter-spacing: 0.02em;
}
.frame1 h3{
    display: list-item;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0.02em;
    list-style: disc;
    margin: 55px 20px;
}
.frame1 p{
    width: 470px;
}
.btn-frame1{
    background: #C32A2A;
    border: none;
    border-radius: 26px;
    box-shadow: 0px 1px 25px rgba(195, 42, 42, 0.6);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    outline: none;
    padding: 9px 35px;
    text-shadow: 0px 1px 12px rgba(190, 44, 44, 0.65);
    transition: all 0.4s ease;
}
.btn-frame1:hover{
    background: #a12323;
}
.frame2 img{
    border: 28px solid #0F0F0F;
    border-radius: 50%;
    box-sizing: border-box;
    height: 477px;
    filter: drop-shadow(4px 4px 12px #FFFFFF) drop-shadow(-3px -2px 28px #FFFFFF);
    width: 509px;
}

.sec3{
    background: #ececec;
    padding: 100px 0 100px;
}

.sec3 h2{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.02em;
}
.btn-tabs{
    margin: 60px 0;
}
.btn-tab{
    background: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.02em;
    margin: 0 32px;
    outline: none;
    padding: 5px 35px;
    transition: all 0.4s ease;
}
.btn-tab:hover{
    background: rgb(230, 230, 230);
}
.btn-tab.active{
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.25), inset 1px 1px 7px rgba(0, 0, 0, 0.38);
}
.grid-table-sec3{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 269px 269px 269px 269px;
    margin-top: 60px;
}

footer{
    background: #c32a2a;
    padding: 60px 0 17px;
}
.wrapper-footer{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.wrapper-footer2{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.menu-footer{
    display: flex;
}
.menu-footer li{
    padding: 0 69px;
}
.menu-footer li a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.4s ease;
}
.menu-footer li a:hover{
    color: rgb(219, 219, 219);
}
.tel{
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
}
.social-media-footer{
    display: flex;
    justify-content: space-between;
    width: 134px;
}
.bg-social-media-footer{
    align-items: center;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 26px;
    justify-content: center;
    transition: all 0.4s ease;
    width: 26px;
}
.bg-social-media-footer:hover{
    opacity: 0.5;
}
.text{
    color: rgba(255, 255, 255, 0.42);
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    margin-top: 38px;
}

@media screen and (max-width: 1200px){
    .container{
        width: 960px;
    }
    .image-frame h1{
        width: 180px;
    }
    .image-frame-shadow{
        width: 530px;
    }
    .grid-table{
        grid-template-columns: 269px 269px 269px;
    }
    .wrapper-sec2{
        flex-wrap: wrap;
    }
    .frame2 img{
        height: 437px;
        width: 469px;
    }
    .grid-table-sec3{
        grid-template-columns: 269px 269px 269px;
    }
    .wrapper-footer{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 992px){
    .container{
        width: 720px;
    }
    .menu li:nth-child(1){
        display: block;
    }
    .menu li:nth-child(2){
        display: none;
    }
    .menu li:nth-child(3){
        display: none;
    }
    .image-frame{
        background-position: center, 70px -10px;
        background-size: contain, 600px;
    }
    .image-frame h1{
        left: 150px;
    }
    .image-frame-shadow{
        left: 175px;
        top: 292px;
    }
    .image-frame-shadow svg{
        width: 450px;
    }
    .mb-scroll-y{
        flex-direction: column;
    }
    .grid-table{
        grid-template-columns: 269px 269px;
    }
    .wrapper-sec2{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .btn-frame1{
        width: 100%;
    }
    .frame2{
        margin-top: 70px;
    }
    .grid-table-sec3 {
        grid-template-columns: 269px 269px;
    }
    .menu-footer{
        flex-direction: column;
    }
    .menu-footer li{
        margin: 5px 0 5px;
    }
}
@media screen and (max-width: 768px){
    .container{
        width: 540px;
    }
    .frame-social-wrapper{
        flex-direction: column;
    }
    .image-frame{
        background-position: center, 60px 60px;
        background-size: 450px, 450px;
        width: 100%;
    }
    .image-frame h1{
        font-size: 55px;
        left: 120px;
        line-height: 30px;
        top: 190px;
    }
    .image-frame h1 span{
        font-size: 30px;
    }
    .image-frame-shadow{
        left: 150px;
        top: 265px;
        width: 350px;
    }
    .image-frame-shadow svg{
        width: 300px;
    }
    .office-social-media{
        display: flex;
    }
    .bg-office-social-media{
        margin: 0 10px 10px;
    }
    .grid-table{
        grid-gap: 10px;
    }
    .new{
        width: 35px;
    }
    .shadow-card-product{
        width: 150px;
    }
    .btn-tab{
        margin: 0 10px;
    }
    .grid-table-sec3{
        grid-gap: 10px;
    }
    .wrapper-footer2{
        flex-direction: column;
    }
    .social-media-footer{
        display: flex;
        flex-direction: column;
    }
    .bg-social-media-footer{
        margin: 5px 0 5px;
    }
}
@media screen and (max-width: 576px){
    .container{
        width: 90%;
    }
    .menu-site{
        display: none;
    }
    .image-frame{
        background-position: center, 40px 170px;
        background-size: 280px, 200px;
    }
    .image-frame h1{
        font-size: 30px;
        left: 70px;
        line-height: 20px;
        top: 205px;
    }
    .image-frame h1 span{
        font-size: 17px;
    }
    .image-frame-shadow{
        left: 70px;
        top: 253px;
        width: 190px;
    }
    .image-frame-shadow svg{
        width: 100%;
    }
    .dots{
        margin-top: 20px;
    }
    .slides-product{
        width: 100%;
    }
    .btn-prev svg, .btn-next svg{
        height: 20px;
        width: 8px;
    }
    .mb-scroll-y{
        width: 100%;
    }
    .card-product-mini{
        margin: 10px 0 10px;
        width: 277px;
    }
    .name-price-product p{
        font-size: 12px;
        text-align: left;
    }
    .grid-table{
        grid-template-columns: 269px;
    }
    .frame1 p{
        width: 100%;
    }
    .frame2 img{
        height: 250px;
        width: 250px;
    }
    .btn-tabs{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 145px 145px;
    }
    .grid-table-sec3{
        grid-template-columns: 269px;
    }
    .wrapper-footer{
        justify-content: center;
    }
    .social-media-footer{
        flex-direction: row;
    }
}