@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans.ttf);
}
@font-face {
    font-family: Monterchi;
    src: url(../fonts/monterchi.otf);
}

body{
    font-family: Open Sans;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

div, p, input, button, form, span, a, ul, li{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: Monterchi;
    margin: 0;
}

p{
    line-height: 25px;
}

ul{
    list-style: none;
}

.container{
    margin: 0 auto;
    width: 1180px;
}

header{
    background: -webkit-linear-gradient(45deg, rgb(50, 45, 110), rgb(67, 93, 143), rgb(68, 106, 150));
    background: -moz-linear-gradient(45deg, rgb(50, 45, 110), rgb(67, 93, 143), rgb(68, 106, 150));
    background: linear-gradient(45deg, rgb(50, 45, 110), rgb(67, 93, 143), rgb(68, 106, 150));
    padding: 25px 25px;
}
.cap{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 65px;
    width: 65px;
}
.nav-menu{
    margin-top: 6px;
}
.menu{
    display: flex;
    list-style: none;
}
.menu li{
    letter-spacing: 2px;
    padding: 0 10px;
}
.menu li a{
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
}
.menu li a:hover{
    border: 1px solid #fff;
}
.mb-menu{
    display: none;
}

.office{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.header-with-text h1, p, a{
    color: #fff;
}
.header-with-text p{
    margin-bottom: 25px;
    margin-top: 25px;
    width: 310px;
}
.btn{
    background: #1eb03a;
    border-radius: 5px;
    font-weight: bold;
    padding: 15px 30px;
    text-decoration: none;
    transition: all 0.8s ease;
}
.btn:hover{
    background: #16842b;
}

.office img{
    height: 400px;
    width: 400px;
}


footer{
    background: -webkit-linear-gradient(315deg, rgb(10, 10, 10), rgb(49, 51, 51));
    background: -moz-linear-gradient(315deg, rgb(10, 10, 10), rgb(49, 51, 51));
    background: linear-gradient(315deg, rgb(10, 10, 10), rgb(49, 51, 51));
    color: #fff;
    padding: 50px 0 100px;
}
footer img{
    height: 30px;
    width: 30px;
}
footer ul li{
    transition: all 0.8s ease;
}
footer ul li:hover{
    opacity: 0.5;
}
.header-foot{
    display: flex;
}
.header-foot img{
    height: 100px;
    margin-right: 20px;
    width: 100px;
}
.header-foot h1{
    font-size: 50px;
    margin-top: 25px;
}
.blocks-foot{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.block1-foot img{
    float: left;
    margin-right: 5px;
}
.block1-foot p{
    line-height: 28px;
}
.social-media li{
    display: inline;
}
.contacts{
    display: flex;
    flex-direction: column;
}
.contacts img{
    float: left;
    margin-right: 5px;
}
.contacts a{
    line-height: 33px;
    text-decoration: none;
    transition: all 0.8s ease;
}
.contacts a:hover{
    opacity: 0.5;
}

@media screen and (max-width: 1200px){
    .container{
        width: 960px;
    }
    .blocks-foot{
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 992px){
    .container{
        width: 720px;
    }
    .menu{
        display: none;
    }
    .mb-menu{
        display: block;
    }
    .mb-menu div{
        background-color: #337ab7;
        border: 2px solid #bfe2ff;
        border-radius: 50%;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
        box-sizing: content-box;
        cursor: pointer;
        height: 40px;
        position: fixed;
        right: 60px;
        top: 50px;
        width: 40px;
        z-index: 9999999;
    }
    .mb-menu div span{
        background: #fff;
        border-radius: 13px;
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        transition: all 0.4s;
        width: 30px;
    }
    .mb-menu div span:nth-child(1) {
        top: 14px;
    }
    .mb-menu div span:nth-child(2) {
        top: 23px;
    }
    .mb-menu div span:nth-child(3) {
        bottom: 14px;
    }
    .mb-menu div.active span:nth-child(1) {
        transform: translate(-15px, 9px) rotate(-45deg);
    }
    .mb-menu div.active span:nth-child(2) {
        opacity: 0;
        transition-duration: 0s;
    }
    .mb-menu div.active span:nth-child(3) {
        transform: translate(-15px, -9px) rotate(45deg);
    }
    .mb-menu nav{
        align-items: center;
        border-radius: 50%;
        display: block;
        display: flex;
        height: 50px;
        justify-content: center;
        position: fixed;
        right: 60px;
        overflow: hidden;
        top: 50px;
        transition: all 0.4s;
        width: 50px;
        z-index: 9999990;
    }
    .mb-menu nav.open{
        background: rgba(0, 0, 0, 0.9);
        border-radius: 0;
        height: 100vh;
        right: 0px;
        width: 100vw;
    }
    .mb-menu nav ul {
        display: none;
    }
    .mb-menu nav ul.show{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .mb-menu ul li{
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-name: fadein;
        background: transparent;
        align-items: center;
        display: flex;
        justify-content: center;
        opacity: 0;
        width: 100%;
    }
    .mb-menu ul li:not(:last-child) {
        margin-bottom: 22px;
    }
    .mb-menu ul li a{
        font-size: 24px;
        letter-spacing: 0.1em;
        text-decoration: none;
        text-transform: uppercase;
    }
    @keyframes fadein {
        0% {
            opacity: 0;
             
        }
        100% {
            opacity: 1;
        }
    }
    .header-foot h1{
        font-size: 42px;
    }
}
@media screen and (max-width: 768px){
    .container{
        width: 540px;
    }
    .office{
        flex-direction: column;
    }
    .office p{
        width: 100%;
    }
    .btn{
        padding: 15px 37.5%;
    }
    .office img{
        margin-top: 50px;
    }
    .header-foot h1{
        font-size: 27px;
    }
}
@media screen and (max-width: 576px){
    .container{
        width: 90%;
    }
    .office img{
        height: 300px;
        width: 300px;
    }
    .header-foot img{
        height: 50px;
        width: 50px;
    }
    .header-foot h1{
        font-size: 17px;
    }
    .blocks-foot{
        flex-direction: column;
    }
    .block1-foot, .block2-foot, .block3-foot{
        margin: 10px auto 10px;
    }
}