aside{
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	height: 500px;
	float: left;
	width: 300px;
}
@media(max-width: 400px){
	aside{
		display: none;
	}
}

main{
	margin-left: 300px;
}
@media(max-width: 400px){
	main{
		margin-left: 0;
	}
}

.grid-of-goods{
	display: grid;
	grid-template-columns: 267px 267px 267px 267px 267px 267px;
}
@media(min-width: 1px) and (max-width: 400px){
	.grid-of-goods{
		margin-top: 0;
		grid-template-columns: 195px 195px;
	}
}
@media(min-width: 963px) and (max-width: 1000px){
	.grid-of-goods{
		grid-tamplate-columns: 267px 267px 267px 267px;
	}
}